%h2 
    %a{href: "/"}
        ln wondra
%ul
    %li
        %a{href: "/software-engineer"}
            software engineer.
    %li
        %a{href: "/pet-herder"}
            pet herder.
    %li
        %a{href: "/crafty"}
            crafty.