%section
    %h1 crafty
    %p I love doing crafts! Crafts were some of the first algorithms I ever learned. Many of the crafts I indulge in are at least a little bit kinetic, and I combine function and form whenever possible.

%section.craft
    %h4 Box Model Cross Stitch
    %p The box model describes the way that different elements on a website relate to each other in space. This cross-stitch represents the box model using colors inspired by the Google Chrome demonstration of the model, but it can be done in many other color combinations.
    .img-wrapper
        %img{class: "display-img", alt: "cross-stitched box model", src: "images/box_model_stitch.png"}

%section.craft
    %h4 w-saves Cross-Stitch
    %p The command ":w" saves your document in Vi/Vim. This cheeky cross-stitch helps me remember that.
    .img-wrapper
        %img{class: "display-img", alt: "cross-stitch of praying hands emoji with the phrase 'w saves'", src: "images/w_saves_stitch.jpg"}

%section.craft
    %h4 Seven Times Eight Cross-Stitch
    %p There's a famous proverb, "fall down seven times, get up eight." Well, this is the developer's version of that. In addition to showing the text and the image of a bug, there is an LED element: the bug can light up.
    .img-wrapper
        %img{class: "display-img", alt: "cross-stitch of a flea in a magnifying glass that says 'find bug seven times, fix bug eight'", src: "images/dead_bug_stitch.jpg"}

%section.craft
    %h4 LED Color Theory Cross-Stitch
    %p I am iterating on a design that properly represents hexcode and LED color. Hexcode is made of three combinations of letters and numbers which correspond to an amount of red, blue, and green light. Those lights can combine to create other colors like cyan, yellow, and magenta. I am iterating on size, labels, and positioning to try to make it as legible as possible.
    .img-wrapper
        %img{class: "display-img", alt: "cross-stitch of a diagram of additive colors. The colors are labeled with hexacode values.", src: "images/first_led_stitch.jpg"}
    .img-wrapper
        %img{class: "display-img", alt: "cross-stitch of a diagram of additive colors. the colors are labeled with hexacode values.", src: "images/second_led_stitch.jpg"}