%section
    %h1 pet herder
    %p My pets are the light of my life! I have two very small cats and two very large dogs. If we're ever on a zoom call together, you will probably meet at least one of my pets.

%section
    %h4 Helo and Apollo
    %p My sweet handsome greyhound boys. They're littermates, over a decade old, and all they want to do is snuggle!
    .img-wrapper
        %img.display-img{alt: "two greyhounds frolic in the snow", src: "images/dog_snow.jpeg"}

%section
    %h4 Starbuck and Athena
    %p My cats! Athena, sleeping in the back, is a darling princess. Starbuck, in the overturned laundry basket, is my evil gremlin child.
    .img-wrapper
        %img.display-img{alt: "a black cat sleeps on a blanket. another black cat sits in an overturned laundry basket and stares at the camera.", src: "images/starbuck_and_athena.jpg"}